html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
     padding: 45px 0 45px 0;
   // margin: 45px 0;
   
    height: 100%;
      background-color: #efeff4;
    //   overflow: scroll;
    //  background-color: red;
    
}

header{
    height: 45px;
   // background-color: pink;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3px 5px;

}

footer{
    height: 45px;
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 3px 5px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    a{
        flex: 1;
        color: #333;
        font-size: 12px;
        span{
            display: block;

        }
    }
}